<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    


</head>
<body>


<header>
    <a href="/Home/Index">
        <h1 class="headline">Ha-Blog Shel Shauli</h1> </a>

</header>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">


        </div>
        <div class="row">
            <div class="col-sm-push-8">
                <ul class="nav navbar-nav">
                    <li class><a href="/Blog">Blog</a></li>
                    <li><a href="/Blog/Management">Management</a></li>
                    <li><a href="/FanClubs/Index">Fans Club</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                    <li><a href="/Home/Videos">Videos</a></li>
                    <li><a href="#">Subscribe via. RSS</a></li>
                    <li>
                        <div id="transDemo2">
                            <img class="hover" alt="rss pic" src="/Content/Images/rss.png" style="float: left;" width="10" height="10">

                        </div>
                    </li>

                </ul>


                <!--place to login\sign-up-->
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</nav>

<section id="intro">
    <!-- Introduction -->

    <header>
        <h2>Do you have questions for me?</h2>
    </header>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>


    <img src="/Content/Images/intro_shauli.png" alt="Shauli"/>
</section>



<div id="content">

    <div id="mainContent">
        @RenderBody()

    </div>

    <aside>
        <section>
            <header>
                <h3>Categories</h3>
            </header>
            <ul>
                <li>
                    <a href="#">Lorem ipsum dolor</a>
                </li>
                <li>
                    <a href="#">Sit amet consectetur</a>
                </li>
                <li>
                    <a href="#">Adipisicing elit sed</a>
                </li>
            </ul>
        </section>
        <section>
            <header>
                <h3>Archives</h3>
            </header>
            <ul>
                <li>
                    <a href="#">December 2008</a>
                </li>
                <li>
                    <a href="#">January 2009</a>
                </li>
                <li>
                    <a href="#">February 2009</a>
                </li>
                <li>
                    <a href="#">March 2009</a>
                </li>
            </ul>
        </section>
    </aside>
</div>
<div class="container body-content">
    <hr/>
    <footer>
        <!-- Footer -->
        <div>
            <section id="audio">
                <audio autoplay="autoplay" loop="loop">
                    <source src="horse.mp3" type="audio/mpeg">
                </audio>
            </section>
            <section id="about">
                <header>
                    <h3>About</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </section>
            <section id="blogroll">
                <header>
                    <h3>Blogroll</h3>
                </header>
                <ul>
                    <li>
                        <a href="#">NETTUTS+</a>
                    </li>
                    <li>
                        <a href="#">FreelanceSwitch</a>
                    </li>
                </ul>
            </section>
            <section id="popular">
                <header>
                    <h3>Popular</h3>
                </header>
                <ul>
                    <li>
                        <a href="#">This is the title of a blog post</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li>
                        <a href="#">Consectetur adipisicing elit, sed do eiusmod</a>
                    </li>
                </ul>
            </section>
        </div>
    </footer>
</div>

@section Scripts {
    
    <script>
        $(document).ready(function () {

            $("ul").hover(function () {
                $(this).css("background-color", "yellow");
            }, function () {
                $(this).css("background-color", "pink");
            });

  
        });
    </script>

}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)





</body>
</html>


