@model ShauliProject.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FanClub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seniority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seniority)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
            <br/>
            <br/>
            <img src="@Url.Content("https://maps.googleapis.com/maps/api/staticmap?center=" + Model.Address + "&zoom=14&size=300x300&key=AIzaSyAFbh6aorNDRdHR0Dnb7ILpan8ScQWqFc0" )"></img>

        </dd>

        
        
        


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
