@model IEnumerable<ShauliProject.Models.PostUserViewModel>

@{
    ViewBag.Title = "Index";
    string FB = "http://localhost:57303/Blog/Index";
}


<div id="fb-root"></div>
<script>(function (d, s, id)
{
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=276751572729225";
    fjs.parentNode.insertBefore(js, fjs);
}
(document, 'script', 'facebook-jssdk'));</script>

@using (Html.BeginForm("Search", "Blog"))
{
    @Html.AntiForgeryToken()
    <h3>Search post</h3>

    <p>
        <label>Title</label>
        @Html.TextBox("title", "")
    </p>
    <p>
        
        <label>Author Name</label>
        @Html.DropDownList("author",
            new SelectList(ViewBag.authorList),
            "Select Author:",
            new { @class = "form-control" })


    </p>
    <p>
        <label>Content</label>
        @Html.TextBox("content", "")
    </p>

    <p>
        <input type="submit" id="myButton" value="Search"/>
    </p>


}
<div id="outerDiv">
    <div id="innerDiv" >
           
    </div>
</div>


@foreach (var item in Model)
{
    <section>
        <article class="blogPost">
            <header>
                <h2>@Html.DisplayFor(modelItem => item.post.Title)</h2>
                <p>
                    Posted on <time datetime="2009-06-29T23:31+01:00">
                    @Html.DisplayFor(modelItem => item.post.PublishDate)</time>
                     by @Html.DisplayFor(modelItem => item.user.Name) - <a href="#comments">@Html.DisplayFor(modelItem => item.post.Comments.Count) comments</a>
                </p>
            </header>
            <div>
                <p>

                    @Html.DisplayFor(model => item.post.Content)
                  </p>
                <br />
            </div>
            <div>
                @if (item.post.Image != null)
                {

                    <img src="@Html.DisplayFor(model => item.post.Image)" alt="picture" />
                }
                <br />
                @if (item.post.Video != null)
                {
                    <video controls="controls">
                        <source src="@Html.DisplayFor(model => item.post.Video)" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                }
            </div>
            <div class="fb-comments" data-href="@FB" data-numposts="5"></div>
        </article>

    </section>
    <div id="@Html.DisplayFor(model => item.post.PostId)">
        <section id="comments">
            <h3>Comments</h3>
            <article>
                @foreach (var comment in item.post.Comments)
                {
                    <article>
                        <header>
                            @Html.DisplayFor(model => comment.CommentWriter)
                        </header>
                        <p>@Html.DisplayFor(model => comment.Content)</p>
                    </article>
                }
            </article>
        </section>
    </div>
        using (Html.BeginForm("AddComment", "Blog"))
        {
        @Html.AntiForgeryToken()
        <h3>Post a comment</h3>
        @Html.Hidden("PostId", item.post.PostId)
        <p>
            <label for="Comment">Comment</label>
            @Html.TextBox("Content", "")
        </p>
        <p>
            <input type="submit" value="Post comment"/>
        </p>
        
    }
}

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('input').focus(function () {
                $(this).css('background', '#EBEBEB');
            });
            $('input').blur(function () {
                $(this).css('background', 'white');
            });
            $('#myButton').hover(
                function () {
                    var $this = $(this);
                    $this.data('prehovercolor', $this.css('background-color'))
                        .css('background-color', 'yellow');
                },
                function () {
                    var $this = $(this);
                    $this.css('background-color', $this.data('prehovercolor'));
                }
            );
        })
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myButton').click(function () {
                animateProgressBar(100);
            });

            function animateProgressBar(percentageCompleted) {
                $('#innerDiv').animate({
                    'width': (500 * percentageCompleted) / 100
                }, 2000);

                $({ counter: 1 }).animate({ counter: percentageCompleted }, {
                    duration: 2000,
                    step: function () {
                        $('#innerDiv').text(Math.ceil(this.counter) + ' %');
                    }
                })
            }
        });
    </script>
}

