@using ShauliProject.Controllers
@model IEnumerable<ShauliProject.Models.Post>

@{
    ViewBag.Title = "Index";
}

<div class ="search">
<form action="#">
    <h3>Search post</h3>
    Date between: <input id="inputDateStart" type="date" name="startDate"> to <input id="inputDateEnd" type="date" name="endDate">
    Author name: <input id="inputAuthor" type="text" name="Full name">
    <br>
    E-mail: <input id="inputEmail" type="email" name="email">
    Words from posts: <input type="text" name="wordFromPosts">
    <br/>
    Minimum replys for post: <input type="range" name="points" min="0" max="10">
    <br/>
    <input type="submit" value="Search">
</form>
</div>



@foreach (var item in Model)
{
    <section>
        <article class="blogPost">
            <header>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>
                    Posted on <time datetime="2009-06-29T23:31+01:00">@Html.DisplayFor(modelItem => item.PublishDate)</time> by <a href="#">@Html.DisplayFor(modelItem => item.AuthorName)</a> - <a href="#comments">@Html.DisplayFor(modelItem => item.Comments.Count) comments</a>
                </p>
            </header>
        <div>
            <p>@Html.DisplayFor(Model => item.Content)</p>
            <br/>
        </div>
            <div>
                @if (item.Image != null)
                {
                    <img src="@Html.DisplayFor(Model => item.Image)" alt="picture"/>
                }
                <br/>
                @if (item.Video != null)
                {
                    <video controls="controls">
                        <source src="@Html.DisplayFor(Model => item.Video)" type="video/mp4"/>
                        Your browser does not support the video tag.
                    </video>
                }
            </div>
        </article>
    </section>
    <div id="@Html.DisplayFor(Model => item.Id)">
        <section id="comments">
            <h3>Comments</h3>
            <article>
                @foreach (var comment in item.Comments)
                {
                    <article>
                        <header>
                           @Html.DisplayFor(Model => comment.CommentWriter)
                        </header>
                        <p>@Html.DisplayFor(Model => comment.Content)</p>
                    </article>
                }
            </article>
        </section>
    </div>
    using (Html.BeginForm("AddComment", "Blog"))
     {
         @Html.AntiForgeryToken()
         <h3>Post a comment</h3>
         @Html.Hidden("PostId", item.Id)
         <p>
             <label for="Name">Name</label>
             @Html.TextBox("CommentWriter")
         </p>
         <p>
             <label for="Website">Website</label>
             @Html.TextBox("CommentWriterSite")
         </p>
         <p>
             <label for="TitleComment">Title</label>
             @Html.TextBox("Title")
         </p>
         <p>
             <label for="Comment">Comment</label>
             @Html.TextBox("Content")
         </p>
         <p>
            
                 <input type="submit" value="Post comment"/>
            
         </p>
     }
}