@model IEnumerable<ShauliProject.Models.PostUserViewModel>
@using ShauliProject.Models;

@{
    ViewBag.Title = "Management";
}

<h2>Manage Posts</h2>
    <section id="post_section">
          
            <table class="table">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
@foreach (var item in Model)
{
         <tr>

            <td>
                @Html.Label("Title", item.post.Title)
            </td>
            <td>
                @Html.Label("Name", item.user.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.post.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.post.PostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.post.PostId }) |
                @Html.ActionLink("Comments", "CommentDetails", new { id = item.post.PostId })
            </td>
        </tr>

}
            </table>
        </section>

        <h3>
            @Html.ActionLink("Add New Post", "Create")
        </h3>
        @{Html.RenderAction("showCountPostPerUser");}
    

